.job-details {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .job-details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .job-details p {
    margin-bottom: 5px;
  }
  
  .job-details strong {
    font-weight: bold;
  }
  
  .job-details p:nth-child(even) {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 3px;
  }
  
  .job-details p:nth-child(odd) {
    padding: 5px;
  }

  .buttonforApply {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttonforApply:hover {
    background-color: #0056b3;
  }
  
  