.jobContainerforjob {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 10px;
    max-width: 1230px;
    margin: 0 auto;
  }

  .myh1 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      margin: 30px;
      font-weight: 500;
      color: #4141BF;
  }
  
  .buttonforApply {
    background-color: #4141BF;
    border: 1px solid #4141BF;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 6px 0 px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    width: 100px;
    border: none;
    margin: 4px;
    fill: currentColor;
  }
  

  .singleJob {
    flex: 1 1 250px;
    max-width: 350px;
    max-height: 500px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;  
  }
  .flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }
  .text_heading {
    font-size: 16px;
    font-weight: 600; 
    color: #333;
  }
  .span {
    display: flex;
    align-items: center;
    color: #ccc;
    gap: 10px;
  }
  .custom_paragraph {
    font-size: 13px;
    color: #959595; 
    padding-top: 20px; 
    border-top: 2px solid #ccc; 
    margin-top: 20px;
  }
  .company_container {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
  }
  .company_name {
    font-size: 14px; 
    display: block;
    margin: 10px;
  }
  /* CSS */
  .button13 {
    background-color: #4141BF;
    border: 1px solid #d5d9d9;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);  
    box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 6px 0 px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    width: 100px;
    border: none;
    margin: 4px;
  }
  /* CSS */
  .button17 {
    align-items: center;
    appearance: none;
    background-color: #F0F0F5;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    line-height: normal;
    width: 100px;
    max-width: 80px;
    padding: 2px 10px;
    margin: 3px;
    text-align: center;
    text-transform: none;
    user-select: none;
  }
  .button17:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  .showMoreButton {
    align-items: center;
    appearance: none;
    background-color: #4141BF;
    color: white;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    line-height: normal;
    width: 100px;
    max-width: 100px;
    padding: 2px 10px;
    margin: 3px;
    text-align: center;
    text-transform: none;
    user-select: none;
    position: relative; 
    bottom: 0; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }

  .showMoreButton:hover {
    background-color: #4141BF;
 }

 .buttonforApply:hover {
  background-color: #4141BF;
 }
  
  